*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  min-height: 100vh;
  width: 100%;
}
.containerr{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 315px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 8px 12px rgba(18, 202, 202, 0.3);
}
.containerr .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .loginn{
  display: none;
}
#check{
  display: none;
}
.containerr .formm{
  padding: 1rem;
}
.formm header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .formm input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .formm input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.formm a{
  font-size: 16px;
  color: rgb(33, 128, 141);
  text-decoration: none;
}
.formm a:hover{
  text-decoration: underline;
}
.formm input.buttoni{
  color: #fff;
  background: rgb(32, 165, 165);
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.formm input.buttoni:hover{
  background: white;
  color: rgb(25, 183, 189);
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: rgb(35, 190, 170);
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

@media (max-width:500px) {
  
  .containerr{
    position: fixed;
    top: 10%;
    left: 15%;
    transform: translate(0,0);
    max-width: 315px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 8px 12px rgba(18, 202, 202, 0.3);
  }
  h2{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}